body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #2563ed, #1e3a8a);
    min-height: 100vh;
    text-align: center;
}

h1 {
    padding-top: 100px;
    color: white;
    font-size: 40px;
}

form {
    background-color: white;
    width: 350px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px #00000040;
}

input {
    width: 97%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    width: 97%;
    padding: 12px;
    margin-top: 15px;
    background-color: #2563ed;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

h2 {
    color: white;
}
